body {
  background-color: #151515;
  color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
@media screen and (max-width: 612px) {
  body {
    text-align: center;
  }
}

nav {
  position: sticky;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 612px) {
  nav li:first-child {
    width: 100%;
    height: 80px;
    align-items: center;
  }
  nav li:not(:first-child) {
    padding: 0 4vw;
  }
}
@media screen and (min-width: 613px) {
  nav li {
    max-width: 200px;
    width: 100%;
    height: 80px;
  }
}
nav li a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: letter-spacing 0.5s;
}
@media screen and (max-width: 612px) {
  nav li a {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 613px) {
  nav li a {
    font-size: 0.9rem;
  }
}
nav li:not(:first-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: #f4f4f4;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
nav li:hover::after {
  transform: scaleX(1);
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
}
